.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.codex
.claude
*~
playground
tmp
.tmp
packages/opencorvus/.*.tmp/
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
a.out
bin/
dist/
dist-vite/
target/
.scripts
.direnv/
backups/
code_review.txt


# Local dev files
.opencorvus/
.opencorvus-worktrees/
.opencorvus-meta.json
/opencorvus.json
/opencorvus.jsonc
/.zed/
logs/
*.bun-build
tsconfig.tsbuildinfo
tmp_slack_msg.json
overlay.json
*.traineddata
*.exe

# Auto-added by OpenCorvus
node_modules/
build/
.output/
.next/
.nuxt/
.svelte-kit/
.env.*
*.db-shm
*.db-wal
*.tsbuildinfo
coverage/
.cache/
.turbo/
Thumbs.db
