.DS_Store
node_modules
**/node_modules/
.worktrees
.sst
.env
.env.local
.env.*.local
.idea
.vscode
.codex
.claude/
.husky/_/
*~
playground
tmp
.tmp
packages/opencorvus/.*.tmp/
dist
**/dist/
ts-dist
.turbo
**/.turbo/
coverage
**/coverage/
out
**/out/
**/.serena
.serena/
/result
refs
Session.vim
a.out
target
**/target/
.scripts
.direnv/
.cache
.eslintcache

# Local dev files
.opencorvus/
/opencorvus.json
/opencorvus.jsonc
/.zed/
logs/
*.log
*.lcov
*.bun-build
*.tgz
tsconfig.tsbuildinfo
**/*.tsbuildinfo
tmp_slack_msg.json
overlay.json
*.traineddata
packages/overlay/src-tauri/resources/opencorvus*
